
GroupAssignment/.vs/GroupAssignment/DesignTimeBuild/.dtbcache
GroupAssignment/.vs/GroupAssignment/v15/.suo
GroupAssignment/.vs/GroupAssignment/v15/Server/sqlite3/db.lock
GroupAssignment/.vs/GroupAssignment/v15/Server/sqlite3/storage.ide
GroupAssignment/.vs/GroupAssignment/v15/Server/sqlite3/storage.ide-shm
GroupAssignment/.vs/GroupAssignment/v15/Server/sqlite3/storage.ide-wal
GroupAssignment/.vs/GroupAssignment/v15/Server/sqlite3/storage.ide-wal
bin/
Debug/
